# IntelliJ
.idea/

# macOS
functions/.DS_Store
functions/._*
.DS_Store
._*

mods/
forges/
others/
test.toml
functions/config.php
functions/cache.json
db.sqlite
db.sqlite-journal
functions/settings.php
