RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f  
RewriteCond %{REQUEST_FILENAME} !-d  
RewriteRule .* index.php [L] 

php_value max_execution_time 600
php_value upload_max_filesize 1G
php_value post_max_size 1G
php_value output_buffering 0


<Files ".git*">
    Order allow,deny
    Deny from all
</Files>

<Files ".user.ini">
    Order allow,deny
    Deny from all
</Files>

<Files "compose.yaml">
    Order allow,deny
    Deny from all
</Files>

<Files "Dockerfile">
    Order allow,deny
    Deny from all
</Files>

<Files "entrypoint.sh">
    Order allow,deny
    Deny from all
</Files>
