/* override default button styles */
#fetch-neoforge {
	background-color: rgba(53,200,205,1);
}
#fetch-fabric {
	background-color: rgba(205,150,100,1);
}

.custom-table-error {
	background-color:rgba(255,100,100,0.5); /* transparent to accomodate dark mode */
}